/***
blue theme
***/

/***
Reset and overrides  
***/
body { 
  background-color:#fafafa !important;
}

/***
Page header
***/
.header .navbar-inner {
  filter:none !important;
  background-image: none !important;
  background-color: #4D90FE !important;
}

.header .btn-navbar {  
  background-color: #434343 !important;
} 

.header .nav .dropdown-toggle:hover, 
.header .nav .dropdown.open .dropdown-toggle {
  background-color: #4f4f4f !important;
}

.header .nav li.dropdown .dropdown-toggle i {
  color: #808080 !important;
}

/***
Page sidebar
***/
.page-content {
  border-left: 1px solid #e2e2e2 !important;
  border-bottom: 1px solid #e2e2e2 !important;
}

.page-sidebar > ul > li > a {
  border-top: 1px solid #e2e2e2 !important;
  color: #000 !important;
  font-weight: 400;
}

.page-sidebar > ul > li:first-child > a {
   border-top: 1px solid transparent !important;
}

.page-sidebar > ul > li:last-child > a {
   border-bottom: 1px solid transparent !important;
}

.page-sidebar > ul > li a i {
   color: #ccc !important;
}

.page-sidebar > ul > li.has-sub.open >a, 
.page-sidebar > ul > li >a:hover, 
.page-sidebar > ul > li:hover>a {  
  background: #eee;
  border-top: 1px solid #e8e8e8;
}

.page-sidebar > ul > li.active > a .selected {
  right:-7px;
  top:1px;
  width: 7px;
  height: 39px;
  background-image: url("../img/sidebar-menu-arrow-green.png");
}  

.page-sidebar > ul > li.active > a{
  background: #28b779 !important;
  border-top-color: transparent !important;
  color:#fff !important;
}  
.page-sidebar > ul > li.active > a i {
  color:#fff !important;
}
.page-sidebar > ul > li > a.open {
  background: #fff;
}

.page-sidebar > ul > li > ul.sub > li > a {
  color: #000;
  margin-left:0px;  
  padding-left: 50px; 
}

.page-sidebar > ul > li > ul.sub > li:first-child > a {
  border-top: 0px !important;
}

.page-sidebar > ul > li > ul.sub > li.active > a, 
.page-sidebar > ul > li > ul.sub > li > a:hover {
  color: #818181 !important;
  background: #efefef !important;  
}

.page-sidebar .sidebar-search input{
  background-color: #fbfbfb  !important;  
  color: #727272 !important;
}

.page-sidebar .sidebar-search .input-box {
  border-bottom-color: #cccccc  !important;
}

.page-sidebar .sidebar-search .submit {
  background-image: url(../img/search-icon-white.png);
}

/***
Sidebar toggler
***/
.sidebar-toggler {  
  background-image: url(../img/sidebar-toggler-light.jpg);
  background-color: #333;
}

/* search box bg color on expanded */
.sidebar-closed .page-sidebar .sidebar-search.open {
  background-color: #fbfbfb !important;
}

.sidebar-closed .page-sidebar .sidebar-search.open .remove {  
  background-image: url("../img/sidebar-search-close-light.png");
}

/* sub menu bg color on hover menu item */
.sidebar-closed .page-sidebar > ul > li.has-sub:hover .sub {
  background-color: #fbfbfb;
}

/***
Landscape phone to portrait tablet
***/
@media (max-width:979px) { 
  /***
  page sidebar
  ***/
  .page-sidebar {
    background-color: #f1f1f1 !important;
 	  border-right: none !important;
  }

  .page-sidebar > ul > li > a {
    border-top: 1px solid #ccc !important;
  }
  
  .page-sidebar > ul > li:first-child > a {
    border-top: 0 !important;
  }

  .page-sidebar > ul > li:last-child > a {
    border-bottom: 0 !important;
  }

  .page-sidebar > ul > li.has-sub.open > a, 
  .page-sidebar > ul > li >a:hover, 
  .page-sidebar > ul > li:hover>a {  
    background: #ccc;
  }

  .page-sidebar > ul > li > a:hover > i {
    color: #333 !important;
  }

  .page-sidebar > ul > li > ul.sub > li.active > a, 
  .page-sidebar > ul > li > ul.sub > li > a:hover {
    background: #ccc !important;  
  }


  .page-sidebar .sidebar-search input{
    background-color: #f1f1f1  !important;  
  }
}